# Required for VRChat control
python-osc==1.9.3
# For finding the VRChat log files
appdirs==1.4.4
# Logging
digiformatter==0.5.7.2
# Keyboard support
keyboard==0.13.5
# MIDI support
mido[ports-rtmidi]==1.3.3
# Mouse support
mouse==0.7.1
# URL fetch support
requests==2.32.3
# XInput support
XInput-Python==0.4.0
